<div class="container">
<div class="row text-center">
	<%= image_tag "Large-Final.png", class: "img-responsive main-logo" %>
	<h4 class="frugtbare-margin-bottom">A division of mindful idea generators.</h4>
    <%= link_to "Submit Idea!", new_idea_path, class: 'btn btn-warning btn-lg' %>
</div>
</div>

<hr id="about">

<div class="container">
	<div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
    			</div>
     </div>
     <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>Det Frugtbare Kompagni (The Fertile Division) is a group of 10-15 sharp minds from different fields of knowledge, bringing different perspectives on life.
                    </p>
                    <p>
                    The Division’s aim is to bring a great amount ideas to life and eventually from the ideas create different businesses.
                    To achieve this, the Division will meetup once a month mainly to generate ideas, but also to pitch ideas, give feedback, brainstorm, hold relevant presentations and perhaps visit or have visits by relevant persons/companies.
                    </p>
                </div>
     </div>
</div>
