<% if object.errors.any? %>
  <div class="alert alert-danger">
    <a class="close" data-dismiss="alert">&#215;</a>
    <%= pluralize(object.errors.count, "error") %> prohibited this object from being saved:
    <ul>
      <% object.errors.each do |field,message| %>
        <li><b><%= field.to_s.humanize %></b>: <%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
