<footer class="blog-footer">
      <p>Site built by <a href="http://sstubben.dk">Simon Stubben</a> // <a href="https://twitter.com/simonstubben">@simonstubben</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
</footer>