// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//General body
h1,h2,h3,h4, p{
	margin: 50px;
}

body{
	position: relative;
	padding-top: 70px;
}

// Navbar 
.frugtbare-navbar img {
	width: 70%;
}


//Containers
.container {
	margin-bottom: 50px;
}

.main-logo {
	width: 70%;
	margin: 2% auto;
}

.frugtbare-margin-bottom {
	margin-bottom: 50px;
}

//Footer
.blog-footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}